<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CriptoFinder</title>
    <!-- Adiciona o css principal do projeto -->
    <link rel="stylesheet" href="./src/css/style.css" />
  </head>

  <body>
    <div class="hero">
      <div class="container">
        <h1>Login</h1>
        <h5>Faça login para acessar CriptoFinder</h5>
        <!-- Campos de Input para o usuário -->
        <form action="painel.html">
          <input
            type="email"
            placeholder="E-mail"
            id="emailInput"
            required
            name="email"
          />
          <input
            type="password"
            placeholder="Senha"
            id="passwordlInput"
            required
            name="password"
          />
          <!-- Entrar ou criar conta -->
          <button href="#" class="btn">Entrar</button>
          <p>
            Não tem uma conta?
            <a class="newAccount" href="./novoCadastro.html">Criar agora</a>
          </p>
        </form>
      </div>
    </div>
    <script src="./src/script/script.js"></script>
  </body>
</html>
