<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CriptoFinder</title>
  <!-- Adiciona o css principal do projeto -->
  <link rel="stylesheet" href="../static/css/style.css" />
</head>

<body>
  <div class="hero">
    <div class="container">
      <h1>Criar conta</h1>
      <h5>Crie uma conta para acessar CriptoFinder</h5>
      <!-- Campos de Input para o usuário -->
      <form>
        <input type="text" placeholder="Nome" id="nameInput" required name="name" />
        <input type="email" placeholder="E-mail" id="emailInput" required name="email" />
        <input type="password" placeholder="Senha" id="passwordlInput" required name="password" />

        <input type="password" placeholder=" Repita a senha" id="passwordlInput" required name="password" />
        <!-- Entrar ou criar conta -->
        <button href="#" class="btn">Entrar</button>
        <p>
          Já tem uma conta?
          <a class="newAccount" href="./index.html">Entrar agora</a>
        </p>
      </form>
    </div>
  </div>
  <script src="../static/script/script.js"></script>
</body>

</html>