<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CriptoFinder</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/style.css" />
    <link
      rel="stylesheet"
      href="/src/main/resources/static/css/painelStyles.css"
    />
    <!-- Boxicons  -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Barra de navegação -->
    <header>
      <div class="logoBox">
        <i class="bx bxl-bitcoin"></i>
        <h1 class="logo">CriptoFinder</h1>
      </div>

      <ul class="navigation">
        <li>
          <a href="./novoCadastro.html"> <i class="bx bxs-user-circle"></i></a>
        </li>

        <li>
          <a href="./index.html"> <i class="bx bx-exit"></i></a>
        </li>
      </ul>
    </header>
    <!-- Conteúdo principal da página -->
    <main>
      <!-- Input de pesquisa -->
      <div id="searchInput">
        <div class="inputBox">
          <a class="search">
            <i class="bx bx-search-alt-2"></i>
            <input
              type="text"
              id="criptoInput"
              name="cripto"
              placeholder="Encontre sua cripto"
            />
          </a>
          <i class="bx bx-dollar-circle"></i>
        </div>
      </div>
      <!-- Conteúdo principal onde ficarão os cards das criptomoedas -->
      <section class="criptoContainer">
        <!-- Mostra os dados das criptos (CARD) -->
        <div class="criptoCard">
          <div class="criptoInfo">
            <h3>Bitcoin</h3>
            <p class="criptoPrice">$123,456</p>
          </div>
          <div class="details">
            <p class="criptoId">BTC</p>
            <p class="priceVariation">0.44%<i class="bx bx-trending-up"></i></p>
          </div>
        </div>
        <div class="criptoCard">
          <div class="criptoInfo">
            <h3>Bitcoin</h3>
            <p class="criptoPrice">$123,456</p>
          </div>
          <div class="details">
            <p class="criptoId">BTC</p>
            <p class="priceVariation">0.44%<i class="bx bx-trending-up"></i></p>
          </div>
        </div>

        <div class="criptoCard">
          <div class="criptoInfo">
            <h3>Bitcoin</h3>
            <p class="criptoPrice">$123,456</p>
          </div>
          <div class="details">
            <p class="criptoId">BTC</p>
            <p class="priceVariation">0.44%<i class="bx bx-trending-up"></i></p>
          </div>
        </div>
        <div class="criptoCard">
          <div class="criptoInfo">
            <h3>Bitcoin</h3>
            <p class="criptoPrice">$123,456</p>
          </div>
          <div class="details">
            <p class="criptoId">BTC</p>
            <p class="priceVariation">0.44%<i class="bx bx-trending-up"></i></p>
          </div>
        </div>
        <div class="criptoCard">
          <div class="criptoInfo">
            <h3>Bitcoin</h3>
            <p class="criptoPrice">$123,456</p>
          </div>
          <div class="details">
            <p class="criptoId">BTC</p>
            <p class="priceVariation">0.44%<i class="bx bx-trending-up"></i></p>
          </div>
        </div>
        <div class="criptoCard">
          <div class="criptoInfo">
            <h3>Bitcoin</h3>
            <p class="criptoPrice">$123,456</p>
          </div>
          <div class="details">
            <p class="criptoId">BTC</p>
            <p class="priceVariation">0.44%<i class="bx bx-trending-up"></i></p>
          </div>
        </div>
      </section>
    </main>
    <script src="/src/main/resources/static/script/script.js"></script>
  </body>
</html>
