body {
  background: #001220;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  background: #c71452;
  border-radius: 0 0px 60px 60px;
  flex-wrap: wrap;
}
header .logoBox,
header .navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navegation li a i {
  transition: 0.3s;
}
header .navegation li a i:hover {
  transform: scale(1.1);
}

header .navegation li a i:active {
  transform: scale(0.8);
}
header .logoBox .logo {
  color: #fafafa;
  font-size: 38px;
  font-weight: 900;
  text-align: center;
}
header .logoBox i {
  text-align: center;
  font-size: 60px;
  color: #fafafa;
}

.navegation li a i {
  color: #fafafa;
  font-size: 36px;
  margin: 0 10px;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
main #searchInput {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
}
main #searchInput .inputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
  transition: 0.3s;
  padding: 22px 15px;
  border-radius: 40px;
  background-color: #4e4e4e6e;
  color: #bdbdbd;
  border: none;
  width: 400px;
}
main #searchInput .inputBox:hover {
  width: 480px;
}
main #searchInput .search input {
  background: transparent;
  color: #949494;
  border: none;
  padding: 5px 10px;
}

/* Estilos para o conteúdo do conteiner de cards das criptos */
.criptoContainer {
  width: 100%;
  padding: 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.criptoContainer .criptoCard {
  width: 48%;
  background: #233241;
  border-radius: 25px;
  padding: 20px 18px;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fafafa;
  flex-wrap: wrap;
  transition: 0.3s;
}
.criptoContainer .criptoCard:hover {
  transform: scale(1.03);
}
.criptoContainer .criptoCard .criptoInfo,
.criptoContainer .criptoCard .details {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px;
}
.criptoContainer .criptoCard .criptoInfo h3 {
  font-size: 28px;
}
.criptoContainer .criptoCard .criptoInfo .criptoPrice {
  font-size: 30px;
  font-weight: bold;
}
.criptoContainer .criptoCard .details .criptoId {
  font-size: 20px;
  color: #bdbdbd;
}
.criptoContainer .criptoCard .details .priceVariation {
  font-size: 26px;
}
.criptoContainer .criptoCard .details p i {
  color: #44ff44;
  font-size: 29px;
  font-weight: bold;
  transform: translateY(5px);
  margin: 0 5px;
}

/* Responsividade */
@media (max-width: 600px) {
  main #searchInput .inputBox:hover {
    transform: scale(1);
    width: 90%;
  }
  .criptoContainer .criptoCard {
    width: 100%;
  }
}
